<div class="row clearfix">
	<div class="col-md-12 column">
		<legend><h4>Registro de solicitud de publicación de información en página web.</h4></legend>
		<%= render 'form' %>
	</div>
</div>

<%= link_to 'Regresar', articles_path %>
